@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {   <li class="nav-item bpr" >    
            <a style="height: 40px;" class="nav-link text-dark bpn" asp-controller="Home" asp-action="privacy">
                <img style="width: 30px; margin-top: -5px; " class="bpg"  src="~/images/carrito.png" alt="carrito"></a>    
        </li>        
        <li class="nav-item bpr" >
            
            <a style="" class="nav-link text-dark fw-bold" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
            
        </li>
        <li class="nav-item bpr">
            <a class="nav-link text-dark fw-bold" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
        </li>
    }
</ul>