@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    IdentityUser myidentity  = await Task.Run(() => UserManager.GetUserAsync(User));
    var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));

    @if(roles.Contains("Admin") ){
        <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link fw-bold text-dark bi bi-cart" asp-area="" asp-controller="Pedido" asp-action="Index">PEDIDOS</a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link fw-bold text-dark bi bi-cart" asp-area="" asp-controller="Producto" asp-action="Index">PRODUCTOS</a>

        </li>

    }

}