@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabajo Final Programacion I</h1>
    <h1 class="display-4">GRUPO AZUL</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Creacion de pagina</a>.</p>
</div>
